<!DOCTYPE html>
html(lang="en")
	head
		meta(charset="UTF-8")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		title NSD sertificat generator
		script(src="https://unpkg.com/htmx.org@1.9.11")
		script(src="https://cdnjs.cloudflare.com/ajax/libs/clipboard.js/2.0.11/clipboard.min.js")
		link(rel="stylesheet", href="./style.css")
	body(class="sm:bg-inherit bg-slate-200")
		main(class="w-full p-8 mx-auto rounded-lg sm:my-8 lg:w-1/2 bg-slate-200 divide-y-4 divide-slate-400")
			section(class="py-8")
				h1(class="text-xl font-bold text-center") NSD sertificat generator v1
				a(class="block link"
				 target="_blank" 
				 href="https://docs.google.com/spreadsheets/d/1qZ1S0jLmnQ-1i3bjuYpK3WTc4taZdbt-/edit#gid=2031766196") Ссылка на таблицу

			section(class="flex justify-center py-8")
				form(hx-post="/" hx-swap="outerHTML" hx-target="#download" class="flex flex-col gap-6")
					div
						label(for="name" class="block mb-2") ФИО
						input#name(required type="text", name="name" placeholder="Иванович Иван Иванов" class="input")
					div
						label(for="sum" class="block mb-2") Сумма
						input#sum(required type="number", name="sum" placeholder="3000" class="input")
					div
						label(for="number" class="block mb-2") Номер сертификата
						input#number(required type="number", name="number" placeholder="317" class="input")
					button(type="submit" class="button") Сгенерировать
			section#download(class="hidden")
